.container {
    max-width: 960px;
  }
  .arcLogo{
    width: 100% !important;
    max-width: 240px;
    min-width: 220px;
}

footer{
  background-color: #E4E4E4;
  padding: 2rem;  
}

footer .social-media-icons img {
  max-height: 50px !important;
  max-width: 50px !important;
  min-height: 40px !important;
  min-width: 40px !important;
  margin: 0 1rem 1rem 1rem;
  padding: 0;
  text-align: center;
  width: 100% !important;
  opacity: 0.6;
}

footer .container{
  margin:auto !important;
}
footer .social-media-icons {
    display: flex;
    justify-content: flex-start !important;
    align-self: flex-end!important;
}
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */
  
  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  
  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }
  
  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }
  
  
  /*
   * Extra utilities
   */
  
  .flex-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
  @media (min-width: 768px) {
    .flex-md-equal > * {
      -ms-flex: 1;
      flex: 1;
    }
  }
  
  .overflow-hidden { overflow: hidden; }